#root {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

#container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  min-width: 250px;
  padding: 10px;
}

#map {
  height: 100vh;
  width: 75%;
}

.flavorRow {
  border: 1px solid #111;
  padding: .5rem;
  margin-bottom: 1rem;
}

.flavorRow:hover {
  border: 1px solid #aaa;
  cursor: pointer;
}
